version: '2'

services:
    mysql:
        build: ./DOCKER/images/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=root
        ports:
            - "3306:3306"
        volumes:
            - ./DOCKER/volumes/_data:/var/lib/mysql
    openliberty:
        #image: ghcr.io/groupe-amt/project_1:latest
        build:
            context: .
            dockerfile: Dockerfile
        links:
            - mysql:mysql
        ports:
            - "9443:9000"
        depends_on:
            - mysql
