<server description="Sample Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <library id="MySqlLib">
        <fileset dir="$(server.config.dir)" includes="*.jar"/>
    </library>

    <datasource jndiName="jdbc/AMT" type="javax.sql.ConnectionPoolDataSource">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties databaseName="AMT"
                    serverName="172.17.0.2" portNumber="3306"
                    user="root" password="root"/>
    </datasource>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <webApplication location="Project_1.war" contextRoot="Projet_1"/>

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

</server>