# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: acteur github
        run : echo $GITHUB_ACTOR
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      - name: Build with Maven
        run: mvn clean package
        
      - name: Test with Maven
        run: mvn test
      
      - name: Set up Docker build
        uses: docker/setup-buildx-action@v1
    
      - name: Login to github container
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: hans-arn
          password: ${{ secrets.OPENAFFECT_PAT }}
          
      - name : push on ghcr
        uses: docker/build-push-action@v2
        with: 
          context: .
          file: ./DOCKER/images/openliberty/Dockerfile
          push: true
          tags: ghcr.io/groupe-amt/project_1:latest
          cache-from: type=ghcr.io,ref=ghcr.io/groupe-amt/project_1:latest
          cache-to: type=inline
        
